<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    New Tweets
    <small>Create new tweet</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">Simple</li>
  </ol>
</section>

<section class="content">
  <!-- contoh posisi alert -->
  <% if @tweet.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong><i class="icon fa fa-ban"></i><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</strong>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <%= render 'form', tweet: @tweet %>
      </div>
    </div>
  </div>
</section>